{% extends 'base.html' %}
{% block title %}
  Recipe
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <form class="col-6 mx-auto card p-3" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1 style="font-family: 'Baskervville';">Add Recipe</h1>
      <hr />
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="font-family: 'Baskervville';">Recipe name</label>
        <input type="text" class="form-control" name="recipe_name" required />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="font-family: 'Baskervville';">Recipe discription</label>
        <textarea class="form-control" name="recipe_discription" required></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="font-family: 'Baskervville';">Recipe Image</label>
        <input type="file" class="form-control" name="recipe_image" required />
      </div>
      <button type="submit" class="btn btn-success" style="font-family: 'Baskervville';">Add recipe</button>
    </form>

    <hr />

    {% comment %} search section {% endcomment %}
    <div class="mt-5">
      <div class="mx-auto col-6">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search product</label>
            <input type="text" class="form-control" name="search" />
          </div>
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
    </div>
    
    <hr />

    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sr.no</th>
          <th scope="col">Recipe name</th>
          <th scope="col">Discription</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ recipe.recipe_name }}</td>
            <td>{{ recipe.recipe_discription }}</td>
            {% if recipe.recipe_image %}
              <td>
                <img src="{{ recipe.recipe_image.url }}" alt="img" style="height: 150px;" />
              </td>
              <td>
                <a href="/update_recipe/{{ recipe.id }}/" class="btn btn-success">Update</a>
                <a href="/delete_recipe/{{ recipe.id }}/" class="btn btn-danger">Delete</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
